In [2]:
import cx_Oracle
import pandas as pd

In [7]:
con=cx_Oracle.connect('system/1234@127.0.0.1/XE')
if con!=None:
    print(con.version)
    print("connection done")
else:
    print("not done")

DatabaseError: ORA-01017: invalid username/password; logon denied

In [4]:
cur=con.cursor()
query='''select * from patients'''
cur.execute(query)

In [5]:
table_rows=cur.fetchall()
df=pd.read_sql('select * from patients', con=con)
df.to_csv("patients.csv")

print(df)

    CUST_ID       NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
0    123457       Alex 2010-10-12 2012-10-13  MVD      paul  SA        USA
1    123458       john 2010-10-12 2012-10-13  MVD      None  TN        IND
2    123459     Mathew 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
3     12345       Matt 2010-10-12 2012-10-13  MVD      None  BOS       NYC
4      1256      Jacob 2010-10-12 2012-10-13  MVD      None  VIC        AU
5    123468     Sharda 2010-10-12 2012-10-13  MVD      paul  SA        USA
6    123489      Divya 2010-10-12 2012-10-13  MVD      None  TN        IND
7    123499      Dipak 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
8     12355     Chhaya 2010-10-12 2012-10-13  MVD      None  BOS       NYC
9      1257      Nivya 2010-10-12 2012-10-13  MVD      None  VIC        AU
10   123557      Suraj 2010-10-12 2012-10-13  MVD      paul  SA        USA
11   123558    Saurabh 2010-10-12 2012-10-13  MVD      None  TN        IND
12   123559     Sakshi 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
13    12445      Meera 2010-10-12 2012-10-13  MVD      None  BOS       NYC
14     1266     Abhaya 2010-10-12 2012-10-13  MVD      None  VIC        AU
15   133557     Snehal 2010-10-12 2012-10-13  MVD      paul  SA        USA
16   133558    Prakash 2010-10-12 2012-10-13  MVD      None  TN        IND
17   133559    Sharada 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
18    13445     Rutuja 2010-10-12 2012-10-13  MVD      None  BOS       NYC
19     1366      Pooja 2010-10-12 2012-10-13  MVD      None  VIC        AU

          DOB ACTIVE
0  1980-10-13    A
1  1988-10-17    A
2  1981-11-13    A
3  1980-10-23    A
4  1987-03-06    A
5  1990-10-13    A
6  1998-10-17    A
7  1991-11-13    A
8  1990-10-23    A
9  1997-03-06    A
10 1990-10-13    A
11 1998-10-17    A
12 1991-11-13    A
13 1990-10-23    A
14 1997-03-06    A
15 1990-10-13    A
16 1998-10-17    A
17 1991-11-13    A
18 1990-10-23    A
19 1997-03-06    A

In [59]:
df.set_index(['CUST_ID'], inplace=True)  

ans = df.loc[df['COUNTRY'] == "IND"]

In [60]:
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)

In [61]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
    data.to_csv(country + ".csv")
    print("File has been created to the specified path")

In [62]:
show_data("AU")
get_file("AU")

           NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
CUST_ID
1256      Jacob 2010-10-12 2012-10-13  MVD      None  VIC        AU
1257      Nivya 2010-10-12 2012-10-13  MVD      None  VIC        AU
1266     Abhaya 2010-10-12 2012-10-13  MVD      None  VIC        AU
1366      Pooja 2010-10-12 2012-10-13  MVD      None  VIC        AU

               DOB ACTIVE
CUST_ID
1256    1987-03-06    A
1257    1997-03-06    A
1266    1997-03-06    A
1366    1997-03-06    A
File has been created to the specified path

In [63]:
show_data("USA")
get_file("USA")

              NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
CUST_ID
123457        Alex 2010-10-12 2012-10-13  MVD      paul  SA        USA
123468   Aishwarya 2010-10-12 2012-10-13  MVD      paul  SA        USA
123557       Suraj 2010-10-12 2012-10-13  MVD      paul  SA        USA
133557      Snehal 2010-10-12 2012-10-13  MVD      paul  SA        USA

               DOB ACTIVE
CUST_ID
123457  1980-10-13    A
123468  1990-10-13    A
123557  1990-10-13    A
133557  1990-10-13    A
File has been created to the specified path

In [64]:
show_data("PHIL")
get_file("PHIL")

            NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
CUST_ID
123459    Mathew 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
123499     Dipak 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
123559    Sakshi 2010-10-12 2012-10-13  MVD      None  WAS      PHIL
133559   Sharada 2010-10-12 2012-10-13  MVD      None  WAS      PHIL

               DOB ACTIVE
CUST_ID
123459  1981-11-13    A
123499  1991-11-13    A
123559  1991-11-13    A
133559  1991-11-13    A
File has been created to the specified path

In [65]:
show_data("NYC")
get_file("NYC")

           NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
CUST_ID
12345      Matt 2010-10-12 2012-10-13  MVD      None  BOS       NYC
12355    Chhaya 2010-10-12 2012-10-13  MVD      None  BOS       NYC
12445     Meera 2010-10-12 2012-10-13  MVD      None  BOS       NYC
13445    Rutuja 2010-10-12 2012-10-13  MVD      None  BOS       NYC

               DOB ACTIVE
CUST_ID
12345   1980-10-23    A
12355   1990-10-23    A
12445   1990-10-23    A
13445   1990-10-23    A
File has been created to the specified path

In [66]:
show_data("IND")
get_file("IND")

            NAME  OPEN_DATE CONSULT_DT VAC_ID DR_NAME  STATE COUNTRY  \
CUST_ID
123458      john 2010-10-12 2012-10-13  MVD      None  TN        IND
123489     Divya 2010-10-12 2012-10-13  MVD      None  TN        IND
123558   Saurabh 2010-10-12 2012-10-13  MVD      None  TN        IND
133558   Prakash 2010-10-12 2012-10-13  MVD      None  TN        IND

               DOB ACTIVE
CUST_ID
123458  1988-10-17    A
123489  1998-10-17    A
123558  1998-10-17    A
133558  1998-10-17    A
File has been created to the specified path